MYSQL_DATABASE=ten_days_gambit
MYSQL_USER=tdg
MYSQL_PASSWORD=replace-with-a-long-random-password
MYSQL_ROOT_PASSWORD=replace-with-another-long-random-password
APP_ID=tdg-cloud
APP_SECRET=replace-with-a-long-random-secret
AGENT_REGISTRATION_ENABLED=true
AGENT_REGISTRATION_CODE=replace-with-the-invite-code-you-will-share
TYPESAFE_API_KEY=
OWNER_UNION_ID=
APP_PORT=8080
